/* style-social-media.css contains settings only valid for social-media.html */

/***********/
/* GENERAL */
/***********/

/* Centering whole visualization */
#timeline-drawing-space {
    display : block;
    margin : auto;
}

/*************/
/* Div. text */
/*************/
#title {
    font-size : 30px;
}

#sub-title {
    position : relative;
    font-size : 14px;
}

#platformInformationText {
    position : absolute;
}

h3 {
    font-weight : 300;
}

.subtitle-text {
    font-size : 14px;
    display : block;
    text-anchor: middle;
}


/***************************************/
/* Social platform category rectangles */
/***************************************/

.category-rect {
    position : relative;
    fill-opacity : 0;
}

#chosen-rect {
    fill-opacity : 0.4;
    fill : grey;
}

#boundary-rect {
    stroke : black;
    fill : none;
    fill-opacity : 0;
}

#subtitle-container{
    position : relative;
}


/***********************/
/* SVG Platform Images */
/***********************/

.svg-img {
    width : 20px;
    height : 20px;
}

.svg-img path{
    fill : black;
    background-color: black;
}


/*************/
/* TIME LINE */
/*************/

.domain {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.legend {
    position : absolute;
    font-size : 10px;
}


#helpText {
    position : absolute;
    font-size:10px;
}

#legendTable {
    position : absolute;
    font-size : 10px;
}


/*************/
/* Bar Chart */
/*************/

.grid path,
.axis path {
    stroke : none;
}

.grid .tick {
    stroke: #fbfbfb;
}

#social-media-bar-chart {
    position : absolute;
}

.bar {
    fill :grey;
    fill-opacity : .4;
}

#chartTitle {
    font-size : 14px;
}

/**************/
/* Flag table */
/**************/

td {
    padding-right : 5px;
}

#flagTable {
    position : absolute;
}