/* style-dashboard.css contains settings only valid for dashboard.html */


/***********/
/* GENERAL */
/***********/

@font-face {
    font-family: foxCat;
    src: url(../fonts/Fox&Cat.ttf);
}

body {
    text-align: center;
    background-color : white;
    fill : white;
    opacity : .8;
    font-family : foxCat;
    font-size : 15px;
    color : white;
    padding-left:0px;
    padding-right:0px;
}

.container-fluid {

    padding-top:10px;
    padding-bottom:10px;
}

button {
    position: relative;
//display: block;
    height: 30px;
    width: 180px;
    margin: 10px 7px;
    padding: 5px;
    font-weight: 70;
    font-size: 7px;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: .08s ease-in;
    -o-transition: .08s ease-in;
    -ms-transition: .08s ease-in;
    -moz-transition: .08s ease-in;
    -webkit-transition: .08s ease-in;
}

.btn-filter:hover {
    color: #f5f5f5;
}

.btn-filter:hover:before {
    top: 0;
}

.btn-filter:before {
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
}

.btn-nav {
    position: relative;
//display: block;
    height: 30px;
    width: 110px;
    margin: 10px 7px;
    padding: 5px;
    font-weight: 70;
    font-size: 7px;
    letter-spacing: 2px;
    color: #383736;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: .08s ease-in;
    -o-transition: .08s ease-in;
    -ms-transition: .08s ease-in;
    -moz-transition: .08s ease-in;
    -webkit-transition: .08s ease-in;
}

.btn-nav:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.btn-nav:hover:before {
    top: 0;
}

.btn-nav:before {
    content: "";
    position: absolute;
    background: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
}

/***************/
/*    AXIS     */
/***************/
.axis {
    font: 10px sans-serif;
    fill: gray;
}

.axis-title {
    fill: gray;
    font-size: 12px;
}

.axis path, line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.x-axis {
    font-size: 12px;
}

.x-axis path {
    display: none;
}

.x2-axis path {
    display:none;
}


.x-axis text {
    font-size: 8px;
}

.y-axis path {
    display: none;
}

.y-axis text {
    font-size: 8px;
}

.title-label{
    font-size: 12px;
    font-weight:bold;
}



/***************/
/*  LINE CHART */
/***************/
.line{
    fill: none;
    stroke: #0099FF;
    opacity: 1;
    clip-path: url(#clip);
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}


/***************/
/*  BAR CHART  */
/***************/

.bar {
    opacity:0.8;
}

.bar:hover {
    opacity:1;
}


/***************/
/*     MAP     */
/***************/

.btn-dashboard{
    opacity:0.5;
}

.btn-dashboard:hover{
    opacity:1;
}

/***************/
/*  Tool tip   */
/***************/

.t1{
    font-size:10px;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/
.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0,0,0,0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0;
    top: 100%;
    left: 0;
}

#tooltip-info {
    color: gray;
    font-size: 8px;
}
