/* style-social-media.css contains settings only valid for social-media.html */

/***********/
/* GENERAL */
/***********/

body {
    font-family : "Open Sans";
    color : black;
}

/* Centering whole visualization */
#timeline-drawing-space {
    display : block;
    margin : auto;
}

#title {
    font-size : 30px;
}

#sub-title {
    position : absolute;
}

.category-rect {
    position : absolute;
    fill-opacity : 0;
    fill : black;
}

#chosen-rect {
    stroke : none;
    fill-opacity : 0.4;
}

#boundary-rect {
    stroke : grey;
    fill : none;
}

.svg-img {
    width : 20px;
    height : 20px;
}

.svg-img path{
    fill : black;
    background-color: black;
}


.platform-icon {
    position : absolute;
    display : inline;
}

#platformInformationText {
    position : absolute;
}

/*************/
/* TIME LINE */
/*************/

.domain {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

#platformInfo {
    position : absolute;
    text-anchor : middle;
    text-align : center;
}

/*************/
/* Bar Chart */
/*************/

.grid path,
.axis path,
.axis line{
    stroke : none;
}

.grid .tick {
    stroke: white;
    shape-rendering: crispEdges;
}

#social-media-bar-chart {
    position : absolute;
}

.axis .tick text {
    color: black;
    font-size : 15px;
}

.bar:hover {
    opacity : 1;
}