body {
    background : black;
}

.projection {
    fill : black;
    stroke : white;
    stroke-width : .1px;
}

#odometer {
    position: absolute;
    left : 48%;
    top : 87%;
    font-size: 50px;
    background : #201F1D;
    color : white;
}