/* style-countries.css contains settings only valid for countries.html */

#tree-map {
    padding-left : 0;
    margin-left : 0;
}

#title {
    text-align:center;
    width : 100%;
}

h3 {
    font-weight : 300;
    padding-top : 0;
    margin-top : 0;
}

.node {
    border: solid 1px white;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
}

.node:hover {
    background-color: #3b5998;
}

#tooltip {
    position: absolute;
    width: 320px;
    height: auto;
    padding: 10px;
    background-color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-size: 16px;
    font-weight : 300;
    line-height: 20px;
    color: white;
    z-index : 1;
}

#countriesTable {
    position : absolute;
    margin-top : 0;
    padding-top : 0;
}

#info {
    width : 300px;
}

#slider {
    margin-top : -45px;
}

